// _landing.scss

.landing-section {
  background: url('../img/backgrounds/landing.png') no-repeat center center;
  background-size: cover;
  height: 800px;
  color: $white;

  .cta-btn {
    margin: 40px 10% 0 0;
    display: inline-block;
    float: right;
  }

  .landing-content {
    text-align: center;
    padding-top: 150px;

    h1 {
      margin-bottom: 9px;
    }
  }

  .landing-images {
    .blueplanet-overlap {
      width: 250px;
      position: relative;
      bottom: -240px;
      right: 80px;
      display: block;
    }
    .moon {
      margin: 0 auto;
      width: 720px;
      display: block;
      position: relative;
      top: -245px;
      left: 5px;
    }
  }
}

// What We Offer Section
.wwo-section {
  background: url('../img/backgrounds/whatweoffer.png') no-repeat center center;
  background-size: cover;
  height: auto;
  padding-bottom: 200px;

  h1.wwo-header {
    color: $purple;
    text-align: center;
    font-size: 110px;
    padding-top: 440px;
    margin: 0;
  }
  .presentation {
    .rocket-build {
      width: 100%;
      padding-top: 200px;
    }
    .presentation-text {
      padding-top: 350px;

      h3 {
        color: $purple;
      }
    }
  }

  .academy {
    .astronaut {
      width: 80%;
      margin-left: 80px;
    }
    .academy-text {
      padding-top: 250px;

      h3 {
        color: $purple;
      }
    }
  }
}

// Our Big Idea Section (obi)
.obi-section {
  background: url('../img/backgrounds/ourbigidea.png') no-repeat center center;
  background-size: cover;
  height: auto;
  padding-bottom: 200px;

  h1.obi-header {
    color: $white;
    text-align: center;
    font-size: 110px;
    padding-top: 200px;
    margin: 0;
  }

  .obi-content {
    .obi-image {
      .spaceship {
        margin-top: 150px;
      }
    }
    .obi-text {
      color: $white;

      h3 {
        text-transform: uppercase;
        margin-top: 250px;
      }
      h3.lowercase {
        text-transform: none;
        margin: 80px 30px 30px 0;
      }
    }
  }
}


// Why Us section
.why-us-section {
  background: url('../img/backgrounds/whyus.png') no-repeat center center;
  background-size: cover;
  height: auto;

  h1.why-us-header{
    font-size: 110px;
    color: $purple;
    padding: 200px 0% 0 0;
    margin: 0 0 100px 0;
    text-align: center;
  }

  .why-us-content {
    padding: 0 15px; 

    .external {
      padding-top: 250px;

      h3 {
        color: $purple;
      }
    }
    .img-alien {
      .alien {
        max-width: 350px;
        margin: 50px 0 0 50px;
      }
    }

    .img-saturn {
    }
    .expertise {
      margin-top: 80px;
      padding: 0 50px;

      h3 {
        color: $purple;
      }
    }

    .english {
      padding: 120px 40px 0 15px;

      h3 {
        color: $purple;
      }
    }
    .station {
      width: 550px;
    }
  }

  .cta-btn {
    margin: 150px auto 200px auto;
    display: table;
  }
}


// Who We Are Section (wwa)
.wwa-section {
  background: url('../img/backgrounds/whoweare.png') no-repeat center center;
  background-size: cover;
  height: auto;
  color: $white;
  padding-bottom: 150px;

  h1.wwa-header {
    font-size: 110px;
    padding: 200px 0 0 0;
    text-align: center;
  }

  .wwa-content {
    padding-top: 200px;

    .row {
      margin-bottom: 50px;

      .wwa-image {
        width: auto;
        max-width: 330px;
        float: right;
      }
      .wwa-description {


        ul {
          list-style-type: "-";
          padding: 0;

          li {
            margin: 0 0px 20px 8px;
            padding-left: 10px;
          }
        }
      }
    }
  }
}


// Contact Section
.contact-section {
  background: url('../img/backgrounds/earth.png') no-repeat center center;
  background-size: cover;
  height: auto;
  padding-bottom: 200px;

  h2.contact-header {
    margin: 0;
    font-size: 90px;
    text-transform: none;
    padding: 200px 0 0 25%;
    color: $purple;
    z-index: 999;
    position: relative;
  }

  img.img-rocket {
    width: 300px;
    position: relative;
    left: 65%;
    top: -300px;
    z-index: 10;
  }

  .contact-content {
    .earth {
      img.img-earth {
        position: absolute;
        width: 150%;
        top: -400px;
      }
    }
    .contact-links {
      .cta-btn {
        display: inline-block;
        width: 320px;
        margin: 20px 0px 20px 80px;
        position: relative;
        top: -250px;
      }
    }
  }
}
