
/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
    	.menu-toggle span:nth-child(4) { background-color: red !important; }

      // Globals
      h1 {
        font-size: 140px !important;
      }
      h2, h1.wwo-header, h1.obi-header, h1.why-us-header, h1.wwa-header {
        font-size: 100px !important;
      }
      h2.contact-header {
        font-size: 80px !important;
      }
      h3, h3.sub-header {
        font-size: 40px !important;
      }
      h4 {
        font-size: 24px;
      }
      p {
        font-size: 24px;
      }
      li {
        font-size: 22px;
      }
      .cta-btn {
        font-size: 24px;
      }

      // Landing section
      .landing-section {
        .landing-images {
          .blueplanet-overlap {
            width: 200px;
            bottom: -280px;
          }
          .moon {
            top: -145px;
            width: 650px;
            left: 20px;
          }
        }
      }


      // What We Offer Section
      .wwo-section {

      }


      // Our Big Idea section
      .obi-section {

      }

      // Why Us Section
      .why-us-section  {
        .why-us-content {
          padding: 0 30px;
        }
      }


      // Who We Are Section
      .wwa-section {

      }


      // Contact Section
      .contact-section {

      }
    }


    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
    	.menu-toggle span:nth-child(4) { background-color: blue !important; }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    	.menu-toggle span:nth-child(4) { background-color: green !important; }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
    	.menu-toggle span:nth-child(4) { background-color: yellow !important; }
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
      .menu-toggle span:nth-child(4) { background-color: pink !important; }
    }
